.idea/
/target/
/.project
/target/
/.project


# Ignore node_modules directory
node_modules/

# Ignore build output directory
build/

# Ignore editor-specific files (example for Visual Studio Code)
.vscode/
*.code-workspace
*.sublime-workspace
*.idea/
